footer {
  background: linear-gradient(45deg,#131313,#ce0101,#00aced,#eceeef);
  padding: 20px 0;
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;

}
@keyframes color{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
.footer-content  {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: aliceblue;
  
}

.footer-section {
  width: 30%;
}


.footer-section a:hover {
  color: #ff0000; /* Set the color on hover */
}

.footer-section h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section p, .footer-section ul {
  margin: 0;
  color: #ffffff;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
  padding: 5px;
}

.footer-section ul li a {
  color: #ffffff;
  text-decoration: none;
}

.footer-section ul li i {
  margin-right: 5px;
}

.footer-bottom {
  max-width: 1200px;
  margin: 20px auto 0;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
}

.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none;
}
.social-icons li
{
display:inline-block;
margin-bottom:4px;

}

.social-icons a{
background-color:#eceeef;
color:#818a91;
font-size:16px;
display:inline-block;
line-height:44px;
width:44px;
height:44px;

margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear;
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;

}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe;
}

.social-icons a.facebook:hover
{
background-color:#3b5998;
}
.social-icons a.twitter:hover
{
background-color:#00aced;
}
.social-icons a.linkedin:hover
{
background-color:#007bb6;
}
.social-icons a.dribbble:hover
{
background-color:#ea4c89;
}


.icon{
  text-align: right;
  transform:translateX(-5%);
}

/*Scroll */
::-webkit-scrollbar{
  width:10px;
}
::-webkit-scrollbar-thumb{
  background-color: #010a72;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #ce0101;
}
::-webkit-scrollbar-track{
  background-color: #131313;
}

.hr{
  width: 40%;
  color: #444763;
}
