.movie-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 50px;
  }
  
  .movie-image {
    width: 400px;
    height: auto;
    margin-right: 20px;
    margin-left: 60px;
    border: 5px solid orange;
  }
  .cartdetailsname h1 {
    
      color:rgb(172, 188, 80);
      

  }
  .carddetails{
    
    margin-left: 600px;
    transform: translateY(-90%);
    margin-right: 200px;

  }
  
  .cartcard {
  
    background-color: #d7a057;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    
  }
  
  .cartprice {
    font-size: 25px;
    margin-bottom: 20px;
    color: #423232;
  }
  
  .cartcard p {
    font-family: Arial;
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
  }
  
  .cartcard button {
    padding: 10px 20px;
    margin-top: 200px;
    font-size: 18px;
    background-color: #dd8819;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
  }
  
  .cartcard button:hover {
    background-color: #09d314;
  }
  